/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, sans-serif;
}

body {
  background-color: #f4f8f8;
}

/* Layout */
.layout {
  display: flex;
  min-height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 230px;
  background-color: #2e3440;
  color: #fff;
  padding: 20px;
}

.profile {
  text-align: center;
  margin-bottom: 30px;
}

.profile img {
  border-radius: 50%;
  margin-bottom: 10px;
}

.sidebar nav a {
  display: block;
  color: #69b9f5;
  text-decoration: none;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 4px;
}

.sidebar nav a:hover {
  background-color: #3b4252;
}

/* Content */
.content {
  flex: 1;
  padding: 30px;
}

/* Form title */
.form-title {
  background-color: #0d95fd;
  color: #ffffff;
  text-align: center;
  padding: 15px;
  margin-bottom: 20px;
  width: 800px;
  max-width: 1050px;
}

/* Table */
table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #056bc5;
  color: #ffffff;
}

th,
td {
  padding: 12px;
  text-align: center;
  border: 1px solid #ddd;
}

tbody td {
  background-color: #e5eaee;
}

/* Images inside table */
table img {
  width: 120px;
  border-radius: 5px;
}
.title-articles {
  background-color: #1e7fe8;
  color: #ffffff;
}
