:root {
  --primary: #2563eb;
  --dark: #1f2937;
  --light: #f9fafb;
  --gray: #6b7280;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", "Segoe UI", sans-serif;
}

body {
  background: var(--light);
}

.layout {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 260px;
  background: var(--dark);
  color: white;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.brand h1 {
  font-size: 26px;
}

.brand span {
  font-size: 13px;
  color: #9ca3af;
}

.sidebar nav {
  margin-top: 40px;
}

.sidebar nav a {
  display: block;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 8px;
  color: white;
  text-decoration: none;
}

.sidebar nav a:hover,
.sidebar nav a.active {
  background: var(--primary);
}

.profile {
  color: #9ca3af;
}

.main {
  flex: 1;
  padding: 30px;
  overflow-y: auto;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topbar h2 {
  font-size: 26px;
  color: var(--dark);
}

.topbar p {
  color: var(--gray);
  margin-top: 5px;
}

.btn-main {
  background: var(--primary);
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
}

/* Stats */
.stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: 30px 0;
}

.stat-card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.04);
}

.stat-card h3 {
  font-size: 32px;
  color: var(--primary);
}
table {
  border-collapse: collapse;
  width: 100%;
}

table,
th,
td {
  border: 1px solid #000;
}

th,
td {
  padding: 6px 10px;
  text-align: left;
}
tr {
  background-color: #f8f9fa;
}

.linkcmd {
  text-decoration: none;
  color: #000;
}
