.lala {
  background-color: red;
  color: red;
}
.nana {
  margin-top: 100px;
  margin-bottom: 150px;
  margin-left: 150px;
  margin-right: 250px;
  color: #f57036;
}
.backgrounds{
  background-image: repeat-x;
  background-attachment: scroll;
  background-position: right top;
  background-color: hsl(50%,100%, 75%)
  

}
